<div class="grid p-fluid">
    <div class="col-12 md:col-12">
        <div class="card">
            <h5>Admin Ekle</h5>
            <p-table
                scrollDirection="both"
                [scrollable]="true"
                scrollHeight="400px"
                styleClass="mt-3"
                responsiveLayout="scroll"
                [value]="adminList"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 200px" pFrozenColumn>Adı</th>
                        <th
                            style="width: 200px"
                            alignFrozen="left"
                            pFrozenColumn
                            [frozen]="idFrozen"
                        >
                            Soyadı
                        </th>
                        <th style="width: 200px">Personel Numarası</th>
                        <th style="width: 200px">Firma</th>
                        <th style="width: 200px">Kayıt Tarihi</th>
                        <th style="width: 200px">Aktiflik</th>
                        <th
                            style="width: 200px"
                            pFrozenColumn
                            alignFrozen="right"
                        >
                            Düzenle
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-admin>
                    <tr>
                        <td
                            style="width: 200px"
                            pFrozenColumn
                            class="font-bold"
                        >
                            {{ admin.adi }}
                        </td>
                        <td
                            style="width: 200px"
                            alignFrozen="left"
                            pFrozenColumn
                            [frozen]="idFrozen"
                            [ngClass]="{ 'font-bold': idFrozen }"
                        >
                            {{ admin.soyadi }}
                        </td>
                        <td style="width: 200px">
                            {{ admin.personelNumarasi }}
                        </td>
                        <td style="width: 200px">{{ admin.firma }}</td>
                        <td style="width: 200px">{{ admin.kayitTarihi }}</td>
                        <td style="width: 200px">
                            {{ admin.aktiflik ? "Aktif" : "Pasif" }}
                        </td>
                        <td
                            style="width: 200px; cursor: pointer"
                            pFrozenColumn
                            class="font-bold"
                            alignFrozen="right"
                        >
                            <i class="pi pi-pencil"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <h2>Yönetici ve Üye Ekleme</h2>
        <div class="card">
            <h5>Yönetici Ekle</h5>
            <div class="grid formgrid">
                <!-- <div class="col-12 mb-2 lg:col-4 lg:mb-5">
                    <input type="text" pInputText placeholder="Adı" />
                </div> -->
                <div class="col-12 mb-2 lg:col-4 lg:mb-5">
                    <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input type="text" pInputText placeholder="Adı" />
                    </span>
                </div>
                <div class="col-12 mb-2 lg:col-4 lg:mb-5">
                    <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input type="text" pInputText placeholder="Soyadı" />
                    </span>
                </div>
                <div class="col-12 mb-2 lg:col-4 lg:mb-5">
                    <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input
                            type="text"
                            pInputText
                            placeholder="TC Kimlik Numarası"
                        />
                    </span>
                </div>
                <div class="col-12 mb-2 lg:col-4 lg:mb-5">
                    <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input type="text" pInputText placeholder="E posta" />
                    </span>
                </div>
                <!-- <p-autoComplete
                    [(ngModel)]="selectedCountryAdvanced"
                    [suggestions]="filteredCountries"
                    (completeMethod)="filterCountry($event)"
                    field="name"
                    [dropdown]="true"
                >
                </p-autoComplete> -->
            </div>

            <!-- <textarea
                rows="5"
                cols="30"
                placeholder="Your Message"
                pInputTextarea
            ></textarea> -->

            <!-- <h5>AutoComplete Araştır</h5>
            <p-autoComplete
                [(ngModel)]="selectedCountryAdvanced"
                [suggestions]="filteredCountries"
                (completeMethod)="filterCountry($event)"
                field="name"
                [dropdown]="true"
            >
            </p-autoComplete> -->

            <h5>Doğum Tarihi</h5>
            <div class="col-12 mb-2 lg:col-12 lg:mb-5">
                <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
            </div>

            <button
                pButton
                pRipple
                type="button"
                label="Yönetici Oluştur"
            ></button>
        </div>

        <div class="card">
            <!-- <h5>Bilet ve Kupon Tanımlama İşlemleri</h5> -->
            <!-- <p-toggleButton
                    [(ngModel)]="idFrozen"
                    [onIcon]="'pi pi-lock'"
                    offIcon="pi pi-lock-open"
                    [onLabel]="'Unfreeze Id'"
                    offLabel="Freeze Id"
                    [style]="{ width: '12rem' }"
                ></p-toggleButton> -->

            <h5>Üye Listesi</h5>
            <p-table
                scrollDirection="both"
                [scrollable]="true"
                scrollHeight="400px"
                styleClass="mt-3"
                responsiveLayout="scroll"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 200px">İsim</th>
                        <th style="width: 200px">Soy İsim</th>
                        <th style="width: 200px">E mail</th>
                        <th style="width: 200px">Cinsiyeti</th>
                        <th style="width: 200px">Kupon</th>
                        <th style="width: 200px">Biletler</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td style="width: 200px">{{ user.name }}</td>
                        <td style="width: 200px">{{ user.surname }}</td>
                        <td style="width: 200px">{{ user.email }}</td>
                        <td style="width: 200px">{{ user.gender }}</td>
                        <td style="width: 200px">{{ user.coupons }}</td>
                        <td style="width: 200px">{{ user.tickets }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div class="card">
            <h5>Üye Ekle</h5>
            <div class="grid formgrid">
                <!-- <div class="col-12 mb-2 lg:col-4 lg:mb-5">
                    <input type="text" pInputText placeholder="Adı" />
                </div> -->
                <div class="col-12 mb-2 lg:col-4 lg:mb-5">
                    <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input type="text" pInputText placeholder="Adı" />
                    </span>
                </div>
                <div class="col-12 mb-2 lg:col-4 lg:mb-5">
                    <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input type="text" pInputText placeholder="Soyadı" />
                    </span>
                </div>
                <div class="col-12 mb-2 lg:col-4 lg:mb-5">
                    <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input
                            type="text"
                            pInputText
                            placeholder="TC Kimlik Numarası"
                        />
                    </span>
                </div>
                <div class="col-12 mb-2 lg:col-4 lg:mb-5">
                    <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input type="text" pInputText placeholder="E posta" />
                    </span>
                </div>
                <!-- <p-autoComplete
                    [(ngModel)]="selectedCountryAdvanced"
                    [suggestions]="filteredCountries"
                    (completeMethod)="filterCountry($event)"
                    field="name"
                    [dropdown]="true"
                >
                </p-autoComplete> -->
            </div>

            <!-- <textarea
                rows="5"
                cols="30"
                placeholder="Your Message"
                pInputTextarea
            ></textarea> -->

            <!-- <h5>AutoComplete Araştır</h5>
            <p-autoComplete
                [(ngModel)]="selectedCountryAdvanced"
                [suggestions]="filteredCountries"
                (completeMethod)="filterCountry($event)"
                field="name"
                [dropdown]="true"
            >
            </p-autoComplete> -->

            <h5>Doğum Tarihi</h5>
            <div class="col-12 mb-2 lg:col-12 lg:mb-5">
                <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
            </div>
            <button
                pButton
                pRipple
                type="button"
                label="Üyelik oluştur"
            ></button>
            <!-- <div class="col-12 mb-2 lg:col-6 lg:mb-5">
                    <button
                        pButton
                        pRipple
                        type="button"
                        label="İptal Et"
                    ></button>
                </div> -->
        </div>
    </div>
</div>
