<div class="grid p-fluid">
    <div class="col-12 md:col-12">
        <h2>Yönetici ve Üye Ekleme</h2>
        <div class="card">
            <h5>Yönetici Ekle</h5>
            <div class="grid formgrid">
                <!-- <div class="col-12 mb-2 lg:col-4 lg:mb-5">
                    <input type="text" pInputText placeholder="Adı" />
                </div> -->
                <div class="col-12 mb-2 lg:col-4 lg:mb-5">
                    <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input type="text" pInputText placeholder="Adı" />
                    </span>
                </div>
                <div class="col-12 mb-2 lg:col-4 lg:mb-5">
                    <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input type="text" pInputText placeholder="Soyadı" />
                    </span>
                </div>
                <div class="col-12 mb-2 lg:col-4 lg:mb-5">
                    <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input
                            type="text"
                            pInputText
                            placeholder="TC Kimlik Numarası"
                        />
                    </span>
                </div>
                <div class="col-12 mb-2 lg:col-4 lg:mb-5">
                    <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input type="text" pInputText placeholder="E posta" />
                    </span>
                </div>
                <!-- <p-autoComplete
                    [(ngModel)]="selectedCountryAdvanced"
                    [suggestions]="filteredCountries"
                    (completeMethod)="filterCountry($event)"
                    field="name"
                    [dropdown]="true"
                >
                </p-autoComplete> -->
            </div>

            <!-- <textarea
                rows="5"
                cols="30"
                placeholder="Your Message"
                pInputTextarea
            ></textarea> -->

            <!-- <h5>AutoComplete Araştır</h5>
            <p-autoComplete
                [(ngModel)]="selectedCountryAdvanced"
                [suggestions]="filteredCountries"
                (completeMethod)="filterCountry($event)"
                field="name"
                [dropdown]="true"
            >
            </p-autoComplete> -->

            <h5>Doğum Tarihi</h5>
            <div class="col-12 mb-2 lg:col-12 lg:mb-5">
                <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
            </div>

            <button
                pButton
                pRipple
                type="button"
                label="Yönetici Oluştur"
            ></button>
        </div>
        <div class="card">
            <h5>Üye Ekle</h5>
            <div class="grid formgrid">
                <!-- <div class="col-12 mb-2 lg:col-4 lg:mb-5">
                    <input type="text" pInputText placeholder="Adı" />
                </div> -->
                <div class="col-12 mb-2 lg:col-4 lg:mb-5">
                    <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input type="text" pInputText placeholder="Adı" />
                    </span>
                </div>
                <div class="col-12 mb-2 lg:col-4 lg:mb-5">
                    <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input type="text" pInputText placeholder="Soyadı" />
                    </span>
                </div>
                <div class="col-12 mb-2 lg:col-4 lg:mb-5">
                    <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input
                            type="text"
                            pInputText
                            placeholder="TC Kimlik Numarası"
                        />
                    </span>
                </div>
                <div class="col-12 mb-2 lg:col-4 lg:mb-5">
                    <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input type="text" pInputText placeholder="E posta" />
                    </span>
                </div>
                <!-- <p-autoComplete
                    [(ngModel)]="selectedCountryAdvanced"
                    [suggestions]="filteredCountries"
                    (completeMethod)="filterCountry($event)"
                    field="name"
                    [dropdown]="true"
                >
                </p-autoComplete> -->
            </div>

            <!-- <textarea
                rows="5"
                cols="30"
                placeholder="Your Message"
                pInputTextarea
            ></textarea> -->

            <!-- <h5>AutoComplete Araştır</h5>
            <p-autoComplete
                [(ngModel)]="selectedCountryAdvanced"
                [suggestions]="filteredCountries"
                (completeMethod)="filterCountry($event)"
                field="name"
                [dropdown]="true"
            >
            </p-autoComplete> -->

            <h5>Doğum Tarihi</h5>
            <div class="col-12 mb-2 lg:col-12 lg:mb-5">
                <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
            </div>
            <button
                pButton
                pRipple
                type="button"
                label="Üyelik oluştur"
            ></button>
            <!-- <div class="col-12 mb-2 lg:col-6 lg:mb-5">
                    <button
                        pButton
                        pRipple
                        type="button"
                        label="İptal Et"
                    ></button>
                </div> -->
        </div>
    </div>
</div>
