<div class="col-12">
    <div class="card">
        <h5>Müşteri İşlemleri</h5>
        <p-table
            #dt1
            [value]="ticketData"
            dataKey="id"
            [rows]="10"
            [rowHover]="true"
            styleClass="p-datatable-gridlines"
            [paginator]="true"
            [globalFilterFields]="[
                'name',
                'country.name',
                'representative.name',
                'status'
            ]"
            responsiveLayout="scroll"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 12rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Firma Adı
                            <p-columnFilter
                                type="text"
                                field="name"
                                display="menu"
                            ></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Adı
                            <p-columnFilter
                                type="text"
                                field="name"
                                display="menu"
                                placeholder="Search by name"
                            ></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Sefer Numarası
                            <p-columnFilter
                                type="text"
                                field="country.name"
                                display="menu"
                                placeholder="Search by country"
                            ></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 14rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Koltuk Numarası
                            <p-columnFilter
                                field="representative"
                                matchMode="in"
                                display="menu"
                                [showMatchModes]="false"
                                [showOperator]="false"
                                [showAddButton]="false"
                            >
                                <ng-template pTemplate="header">
                                    <div class="px-3 pt-3 pb-0">
                                        <span class="font-bold"
                                            >Agent Picker</span
                                        >
                                    </div>
                                </ng-template>
                                <ng-template
                                    pTemplate="filter"
                                    let-value
                                    let-filter="filterCallback"
                                >
                                    <p-multiSelect
                                        [ngModel]="value"
                                        [options]="representatives"
                                        placeholder="Any"
                                        (onChange)="filter($event.value)"
                                        optionLabel="name"
                                    >
                                        <ng-template
                                            let-option
                                            pTemplate="item"
                                        >
                                            <div
                                                class="p-multiselect-representative-option"
                                            >
                                                <img
                                                    [alt]="option.label"
                                                    src="assets/demo/images/avatar/{{
                                                        option.image
                                                    }}"
                                                    width="32"
                                                    style="
                                                        vertical-align: middle;
                                                    "
                                                />
                                                <span class="ml-2">{{
                                                    option.name
                                                }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 10rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Sefer Tarihi
                            <p-columnFilter
                                type="date"
                                field="date"
                                display="menu"
                                placeholder="mm/dd/yyyy"
                            ></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 10rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Sürücü
                            <p-columnFilter
                                type="numeric"
                                field="balance"
                                display="menu"
                                currency="USD"
                            ></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Nerden
                            <p-columnFilter
                                field="status"
                                matchMode="equals"
                                display="menu"
                            >
                                <ng-template
                                    pTemplate="filter"
                                    let-value
                                    let-filter="filterCallback"
                                >
                                    <p-dropdown
                                        [ngModel]="value"
                                        [options]="statuses"
                                        (onChange)="filter($event.value)"
                                        placeholder="Any"
                                        [style]="{ 'min-width': '12rem' }"
                                    >
                                        <ng-template
                                            let-option
                                            pTemplate="item"
                                        >
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>

                    <th style="min-width: 12rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Nereye
                            <p-columnFilter
                                field="activity"
                                matchMode="between"
                                display="menu"
                                [showMatchModes]="false"
                                [showOperator]="false"
                                [showAddButton]="false"
                            >
                                <ng-template
                                    pTemplate="filter"
                                    let-filter="filterCallback"
                                >
                                    <p-slider
                                        [ngModel]="activityValues"
                                        [range]="true"
                                        (onSlideEnd)="filter($event.values)"
                                        styleClass="m-3"
                                        [style]="{ 'min-width': '12rem' }"
                                    ></p-slider>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-company>
                <ng-container *ngFor="let bus of company.buses">
                    <ng-container *ngFor="let nav of bus.busNavigation">
                        <ng-container *ngFor="let ticket of nav.tickets">
                            <tr>
                                <td>{{ company.name }}</td>
                                <td>{{ getUserByPNR(ticket.pnrNumber) }}</td>
                                <td>{{ bus.id }}</td>
                                <td>{{ bus.numberOfSeats }}</td>
                                <td>
                                    {{
                                        nav.busNavStation[0]?.departureDate
                                            | date : "dd/MM/yyyy"
                                    }}
                                </td>
                                <td>{{ bus.driverName }}</td>
                                <td>{{ nav.busNavStation[0]?.id }}</td>
                                <td>
                                    {{
                                        nav.busNavStation[
                                            nav.busNavStation.length - 1
                                        ]?.id
                                    }}
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No customers found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Loading customers data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<div class="col-12">
    <div class="card">
        <h5>Bilet ve Kupon Tanımlama İşlemleri</h5>
        <p-table
            [value]="usersWithCoupons"
            scrollDirection="both"
            [scrollable]="true"
            scrollHeight="400px"
            styleClass="mt-3"
            responsiveLayout="scroll"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 200px" pFrozenColumn>İsim</th>
                    <th
                        style="width: 200px"
                        alignFrozen="left"
                        pFrozenColumn
                        [frozen]="idFrozen"
                    >
                        Soyisim
                    </th>
                    <th style="width: 200px">E-posta</th>
                    <th style="width: 200px">Telefon</th>
                    <th style="width: 200px">Kupon Tutarı</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.surname }}</td>
                    <!-- <td>
                        <ng-container *ngFor="let ticket of user.tickets">
                            {{ getUserByPNR(ticket.pnrNumber) }}
                        </ng-container>
                    </td> -->
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone || "N/A" }}</td>
                    <td>
                        <ng-container *ngFor="let coupon of user.coupons">
                            {{ coupon.amount }}
                        </ng-container>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
