<div class="col-12">
    <div class="card">
        <h5>Müşteri İşlemleri</h5>
        <p-table 
        #dt1 
        [value]="ticketData" 
        dataKey="id" 
        [rows]="10" 
        [rowHover]="true" 
        styleClass="p-datatable-gridlines"
        [paginator]="true" 
        [globalFilterFields]="[
                'name',
                'country.name',
                'representative.name',
                'status'
            ]" 
            responsiveLayout="scroll"
        >
            <ng-template pTemplate="caption">
                <div 
                    class="flex justify-content-between flex-column sm:flex-row"
                >
                    <button 
                    pButton 
                    label="Clear" 
                    class="p-button-outlined mb-2" 
                    icon="pi pi-filter-slash"
                    ></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 12rem">
                        <div 
                        class="flex justify-content-between align-items-center"
                    >
                            Adı
                            <p-columnFilter 
                            type="text" 
                            field="name" 
                            display="menu"
                            placeholder="Search by name"
                            ></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div 
                            class="flex justify-content-between align-items-center"
                        >
                            Sefer Numarası
                            <p-columnFilter 
                            type="text" 
                            field="country.name" display="menu"
                            placeholder="Search by country"
                            ></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 14rem">
                        <div 
                            class="flex justify-content-between align-items-center"
                        >
                            Koltuk Numarası
                            <p-columnFilter     
                                field="representative"  
                                matchMode="in" 
                                display="menu"
                                [showMatchModes]="false" 
                                [showOperator]="false" 
                                [showAddButton]="false"
                            >
                                <ng-template pTemplate="header">
                                    <div class="px-3 pt-3 pb-0">
                                        <span class="font-bold">Agent Picker</span>
                                    </div>
                                </ng-template>
                                <ng-template 
                                    pTemplate="filter" 
                                    let-value 
                                    let-filter="filterCallback"
                                >
                                    <p-multiSelect 
                                        [ngModel]="value" 
                                        [options]="representatives" 
                                        placeholder="Any"
                                        (onChange)="filter($event.value)" 
                                        optionLabel="name"
                                    >
                                        <ng-template 
                                            let-option 
                                            pTemplate="item"
                                        >
                                            <div 
                                                class="p-multiselect-representative-option"
                                            >
                                            <img
                                            [alt]="option.label"
                                            src="assets/demo/images/avatar/{{
                                                option.image
                                            }}"
                                            width="32"
                                            style="
                                                vertical-align: middle;
                                            "
                                        />
                                        <span class="ml-2">{{
                                            option.name
                                        }}</span>
                                    </div>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
            <th style="min-width: 10rem">
                <div
                    class="flex justify-content-between align-items-center"
                >
                    Sefer Tarihi
                    <!-- Saat de buraya eklenebilir -->
                    <p-columnFilter
                        type="date"
                        field="date"
                        display="menu"
                        placeholder="mm/dd/yyyy"
                    ></p-columnFilter>
                </div>
            </th>
            <th style="min-width: 10rem">
                <div
                    class="flex justify-content-between align-items-center"
                >
                    Sürücü
                    <p-columnFilter
                        type="numeric"
                        field="balance"
                        display="menu"
                        currency="USD"
                    ></p-columnFilter>
                </div>
            </th>
            <th style="min-width: 12rem">
                <div
                    class="flex justify-content-between align-items-center"
                >
                    Nerden
                    <p-columnFilter
                        field="status"
                        matchMode="equals"
                        display="menu"
                    >
                        <ng-template
                            pTemplate="filter"
                            let-value
                            let-filter="filterCallback"
                        >
                            <p-dropdown
                                [ngModel]="value"
                                [options]="statuses"
                                (onChange)="filter($event.value)"
                                placeholder="Any"
                                [style]="{ 'min-width': '12rem' }"
                            >
                                <ng-template
                                    let-option
                                    pTemplate="item"
                                >
                                    <!-- <span
                                        [class]="
                                            'customer-badge status-' +
                                            option.value
                                        "
                                        >{{ option.label }}</span
                                    > -->
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>


            <th style="min-width: 12rem">
                <div
                    class="flex justify-content-between align-items-center"
                >
                    Nereye
                    <p-columnFilter
                        field="activity"
                        matchMode="between"
                        display="menu"
                        [showMatchModes]="false"
                        [showOperator]="false"
                        [showAddButton]="false"
                    >
                        <ng-template
                            pTemplate="filter"
                            let-filter="filterCallback"
                        >
                            <p-slider
                                [ngModel]="activityValues"
                                [range]="true"
                                (onSlideEnd)="filter($event.values)"
                                styleClass="m-3"
                                [style]="{ 'min-width': '12rem' }"
                            ></p-slider>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
        </tr>
    </ng-template>
            <ng-template pTemplate="body" let-company>
                <ng-container *ngFor="let bus of company.buses ">
                    <tr>
                        <td>
                            {{ company.name }}
                        </td>
                        <td>

                            <span class="image-text ml-2">
                                {{ bus.id }}</span>
                        </td>
                        <td>
                            <span class="image-text ml-2">
                                {{bus.numberOfSeats}}</span>
                        </td>
                        <td>
                            <!-- Sefer Tarihi Bilgisi -->
                            {{ bus.busNavigation[0]?.busNavStation[0]?.departureDate | date: 'dd/MM/yyyy' }}
                        </td>
                        <td>
                            {{ bus.driverName }}
                        </td>
                        <td>
                            <!-- Nerden Bilgisi -->
                            {{ bus.busNavigation[0]?.busNavStation[0]?.id }}
                        </td>
                        <td>
                            <!-- Nereye Bilgisi -->
                            {{ bus.busNavigation[0]?.busNavStation[bus.busNavigation[0]?.busNavStation.length - 1]?.id}}
                        </td>

                    </tr>
                </ng-container>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No customers found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Loading customers data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<div class="col-12">
    <div class="card">
        <h5>Bilet ve Kupon Tanımlama İşlemleri</h5>
        <p-table [value]="coupon" scrollDirection="both" [scrollable]="true" scrollHeight="400px" styleClass="mt-3"
            responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 200px" pFrozenColumn>Name</th>
                    <th style="width: 200px" alignFrozen="left" pFrozenColumn [frozen]="idFrozen">
                        Id
                    </th>
                    <th style="width: 200px">Amount</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-coupon>
                <tr>
                    <!-- <td style="width: 200px" pFrozenColumn class="font-bold">
                        {{ coupon.name }}
                    </td> -->
                    <td style="width: 200px">
                        {{ coupon.user }}
                    </td>
                    <td style="width: 200px" alignFrozen="left" pFrozenColumn [frozen]="idFrozen"
                        [ngClass]="{ 'font-bold': idFrozen }">
                        {{ coupon.id }}
                    </td>
                    <td style="width: 200px">{{ coupon.amount }} Tl</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>