.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    img {
        height: 120px;
    }

    .login-container__box {
        height: 500px;
        display: flex;
    }
    .login__input {
        width: 100% !important;
    }
}
