<div
    class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
    <div class="flex flex-column align-items-center justify-content-center">
        <img
            src="https://uploads-ssl.webflow.com/605c9d764f1ef938a009ac98/61e01bfbdd8632a72962edc2_Pinsoft_Yatay_Logo_mavi-for%20animation.svg"
            style="height: 120px"
        />
        <div
            style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    var(--primary-color) 10%,
                    rgba(33, 150, 243, 0) 30%
                );
            "
        >
            <div
                class="w-full surface-card py-8 px-5 sm:px-8"
                style="border-radius: 53px"
            >
                <div>
                    <label
                        for="email"
                        class="block text-900 text-xl font-medium mb-2"
                        >Kullanıcı Adı</label
                    >
                    <input
                        id="username"
                        type="text"
                        placeholder="utkuc3ngiz"
                        [(ngModel)]="username"
                        pInputText
                        class="w-full mb-5"
                        style="padding: 1rem"
                    />

                    <label
                        for="password1"
                        class="block text-900 font-medium text-xl mb-2"
                        >Parola</label
                    >
                    <p-password
                        id="password1"
                        [(ngModel)]="password"
                        placeholder="123123"
                        [toggleMask]="true"
                        styleClass="mb-5 w-full"
                        inputStyleClass="w-full p-3"
                    ></p-password>

                    <button
                        pButton
                        pRipple
                        label="Giriş Yap"
                        class="w-full p-3 text-xl"
                        (click)="login()"
                    ></button>
                </div>
            </div>
        </div>
    </div>
</div>
