<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <!-- Table Top Bar -->
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            label="Plaka Ekle"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                            (click)="openNewPlate()"
                        ></button>
                        <button
                            pButton
                            pRipple
                            label="Sefer Ekle"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                            (click)="openNewVoyage()"
                        ></button>
                    </div>
                </ng-template>
                
            </p-toolbar>
            <!-- Table -->
            <p-table
                [value]="company"
                [paginator]="true"
                dataKey="id"
                [rows]="50"
                editMode="row"
                [rowsPerPageOptions]="[5, 10, 20]"
            >
                <!-- Main Table Header -->
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th pSortableColumn="name">
                            Plaka <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="inventoryStatus">
                            Koltuk Sayısı
                            <p-sortIcon field="inventoryStatus"></p-sortIcon>
                        </th>
                        <th>Sürücü Adı</th>
                        <th pSortableColumn="price">
                            Personel Adı <p-sortIcon field="price"></p-sortIcon>
                        </th>

                        <th></th>
                    </tr>
                </ng-template>
                <!-- Main Table Body -->
                <ng-template
                    pTemplate="body"
                    let-company
                    let-expanded="expanded"
                    let-editing="editing"
                    let-ri="rowIndex"
                >
                    <tr [pEditableRow]="company">
                        <td>
                            <button
                                type="button"
                                pButton
                                pRipple
                                [pRowToggler]="company"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="
                                    expanded
                                        ? 'pi pi-chevron-down'
                                        : 'pi pi-chevron-right'
                                "
                            ></button>
                        </td>
                        <td style="min-width: 12rem">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input
                                        pInputText
                                        type="text"
                                        [(ngModel)]="company.plate"
                                    />
                                </ng-template>
                                <ng-template pTemplate="input">
                                    <p-dropdown
                                        [options]="statuses"
                                        appendTo="body"
                                        [(ngModel)]="product.inventoryStatus"
                                        [style]="{ width: '100%' }"
                                    ></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ company.plate }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="min-width: 12rem">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-inputNumber
                                        mode="decimal"
                                        [showButtons]="true"
                                        [min]="0"
                                        [max]="100"
                                        [(ngModel)]="company.numberOfSeats"
                                    >
                                    </p-inputNumber>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ company.numberOfSeats }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="min-width: 12rem">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input
                                        pInputText
                                        type="text"
                                        [(ngModel)]="company.driverName"
                                    />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ company.driverName }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="min-width: 10rem">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input
                                        pInputText
                                        type="text"
                                        [(ngModel)]="company.hostName"
                                    />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ company.hostName }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <div class="flex justify-content-end">
                                <div
                                    class="flex align-items-center justify-content-center gap-2"
                                >
                                    <button
                                        *ngIf="!editing"
                                        pButton
                                        pRipple
                                        type="button"
                                        pInitEditableRow
                                        icon="pi pi-pencil"
                                        (click)="onRowEditInit(company)"
                                        class="p-button-rounded p-button-text"
                                    ></button>
                                    <button
                                        *ngIf="editing"
                                        pButton
                                        pRipple
                                        type="button"
                                        pSaveEditableRow
                                        icon="pi pi-check"
                                        (click)="onRowEditSave(company)"
                                        class="p-button-rounded p-button-text p-button-success mr-2"
                                    ></button>
                                    <button
                                        *ngIf="editing"
                                        pButton
                                        pRipple
                                        type="button"
                                        pCancelEditableRow
                                        icon="pi pi-times"
                                        (click)="onRowEditCancel(company, ri)"
                                        class="p-button-rounded p-button-text p-button-danger"
                                    ></button>
                                </div>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-text text-red-700"
                                    (click)="deleteProduct(company)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <!-- Sub Table -->
                <ng-template pTemplate="rowexpansion" let-company>
                    <tr>
                        <td colspan="7">
                            <div class="p-3">
                                <p-table
                                    dataKey="id"
                                    responsiveLayout="scroll"
                                    [value]="company.busNavigation"
                                    editMode="row"
                                >
                                    <!-- Sub Table Header -->
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th></th>
                                            <th
                                                pSortableColumn="inventoryStatus"
                                            >
                                                Varış Tarihi
                                                <p-sortIcon
                                                    field="inventoryStatus"
                                                >
                                                </p-sortIcon>
                                            </th>
                                            <th pSortableColumn="category">
                                                Kalkış Yeri
                                                <p-sortIcon field="category">
                                                </p-sortIcon>
                                            </th>
                                            <th pSortableColumn="rating">
                                                Varış Yeri
                                                <p-sortIcon
                                                    field="rating"
                                                ></p-sortIcon>
                                            </th>
                                            <th
                                                pSortableColumn="inventoryStatus"
                                            >
                                                Seyahat Süresi
                                                <p-sortIcon
                                                    field="inventoryStatus"
                                                ></p-sortIcon>
                                            </th>
                                            <th style="width: 4rem"></th>
                                        </tr>
                                    </ng-template>
                                    <!-- Sub Table Body -->
                                    <ng-template
                                        pTemplate="body"
                                        let-busNavigation
                                        let-expanded="expanded"
                                        let-editing="editing"
                                        let-ri="rowIndex"
                                    >
                                        <tr [pEditableRow]="busNavigation">
                                            <td>
                                                <button
                                                    type="button"
                                                    pButton
                                                    pRipple
                                                    [pRowToggler]="
                                                        busNavigation
                                                    "
                                                    class="p-button-text p-button-rounded p-button-plain"
                                                    [icon]="
                                                        expanded
                                                            ? 'pi pi-chevron-down'
                                                            : 'pi pi-chevron-right'
                                                    "
                                                ></button>
                                            </td>
                                            <td style="min-width: 12rem">
                                                <p-cellEditor>
                                                    <ng-template
                                                        pTemplate="input"
                                                    >
                                                        <p-calendar
                                                            [style]="{
                                                                width: '100%'
                                                            }"
                                                            [(ngModel)]="
                                                                busNavigation.departureDate
                                                            "
                                                            [showTime]="true"
                                                            [showSeconds]="
                                                                false
                                                            "
                                                        ></p-calendar>
                                                    </ng-template>
                                                    <ng-template
                                                        pTemplate="output"
                                                    >
                                                        <p-cellEditor>
                                                            <ng-template
                                                                pTemplate="input"
                                                            >
                                                                <input
                                                                    pInputText
                                                                    type="text"
                                                                    [(ngModel)]="
                                                                        busNavigation.departureDate
                                                                    "
                                                                />
                                                            </ng-template>
                                                            <ng-template
                                                                pTemplate="output"
                                                            >
                                                                {{
                                                                    busNavigation.departureDate
                                                                }}
                                                            </ng-template>
                                                        </p-cellEditor>
                                                    </ng-template>
                                                </p-cellEditor>
                                            </td>

                                            <td style="min-width: 12rem">
                                                <p-cellEditor>
                                                    <ng-template
                                                        pTemplate="input"
                                                    >
                                                        <input
                                                            pInputText
                                                            type="text"
                                                            [(ngModel)]="
                                                                busNavigation.arrivalPlace
                                                            "
                                                        />
                                                    </ng-template>
                                                    <ng-template
                                                        pTemplate="output"
                                                    >
                                                        {{
                                                            busNavigation.arrivalPlace
                                                        }}
                                                    </ng-template>
                                                </p-cellEditor>
                                            </td>
                                            <td style="min-width: 8rem">
                                                <p-cellEditor>
                                                    <ng-template
                                                        pTemplate="input"
                                                    >
                                                        <input
                                                            pInputText
                                                            type="text"
                                                            [(ngModel)]="
                                                                busNavigation.departurePlace
                                                            "
                                                        />
                                                    </ng-template>
                                                    <ng-template
                                                        pTemplate="output"
                                                    >
                                                        {{
                                                            busNavigation.departurePlace
                                                        }}
                                                    </ng-template>
                                                </p-cellEditor>
                                            </td>
                                            <td style="min-width: 10rem">
                                                <p-cellEditor>
                                                    <ng-template
                                                        pTemplate="input"
                                                    >
                                                        <p-inputNumber
                                                            mode="decimal"
                                                            [showButtons]="true"
                                                            [min]="0"
                                                            [max]="100"
                                                            [(ngModel)]="
                                                                busNavigation.travelTime
                                                            "
                                                        >
                                                        </p-inputNumber>
                                                    </ng-template>
                                                    <ng-template
                                                        pTemplate="output"
                                                    >
                                                        {{
                                                            busNavigation.travelTime
                                                        }}
                                                    </ng-template>
                                                </p-cellEditor>
                                            </td>

                                            <td>
                                                <div
                                                    class="flex justify-content-end"
                                                >
                                                    <div
                                                        class="flex align-items-center justify-content-center gap-2"
                                                    >
                                                        <button
                                                            *ngIf="!editing"
                                                            pButton
                                                            pRipple
                                                            type="button"
                                                            pInitEditableRow
                                                            icon="pi pi-pencil"
                                                            (click)="
                                                                onRowEditInit(
                                                                    company
                                                                )
                                                            "
                                                            class="p-button-rounded p-button-text"
                                                        ></button>
                                                        <button
                                                            *ngIf="editing"
                                                            pButton
                                                            pRipple
                                                            type="button"
                                                            pSaveEditableRow
                                                            icon="pi pi-check"
                                                            (click)="
                                                                onRowEditSave(
                                                                    company
                                                                )
                                                            "
                                                            class="p-button-rounded p-button-text p-button-success mr-2"
                                                        ></button>
                                                        <button
                                                            *ngIf="editing"
                                                            pButton
                                                            pRipple
                                                            type="button"
                                                            pCancelEditableRow
                                                            icon="pi pi-times"
                                                            (click)="
                                                                onRowEditCancel(
                                                                    company,
                                                                    ri
                                                                )
                                                            "
                                                            class="p-button-rounded p-button-text p-button-danger"
                                                        ></button>
                                                    </div>
                                                    <button
                                                        pButton
                                                        pRipple
                                                        icon="pi pi-trash"
                                                        class="p-button-rounded p-button-text text-red-700"
                                                        (click)="
                                                            deleteProduct(
                                                                company
                                                            )
                                                        "
                                                    ></button>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <!-- Sub Sub Table -->
                                    <ng-template
                                        pTemplate="rowexpansion"
                                        let-company
                                    >
                                        <tr>
                                            <td colspan="7">
                                                <div class="p-3">
                                                    <p-table
                                                        dataKey="id"
                                                        responsiveLayout="scroll"
                                                        [value]="
                                                            company.stations
                                                        "
                                                        editMode="row"
                                                    >
                                                        <!-- Sub Sub Table Header -->
                                                        <ng-template
                                                            pTemplate="header"
                                                        >
                                                            <tr>
                                                                <th
                                                                    pSortableColumn="rating"
                                                                >
                                                                    name
                                                                    <p-sortIcon
                                                                        field="rating"
                                                                    ></p-sortIcon>
                                                                </th>
                                                                <th
                                                                    pSortableColumn="inventoryStatus"
                                                                >
                                                                    busNavigations
                                                                    <p-sortIcon
                                                                        field="inventoryStatus"
                                                                    ></p-sortIcon>
                                                                </th>
                                                                <th
                                                                    style="
                                                                        width: 4rem;
                                                                    "
                                                                ></th>
                                                                <th>
                                                                    Varış Saati
                                                                </th>
                                                                <th>
                                                                    Kalkış Saati
                                                                </th>
                                                                <th>
                                                                    Şehir İsim
                                                                </th>
                                                                <th>
                                                                    Sıralaması
                                                                </th>
                                                                <th>
                                                                    <div
                                                                        class="flex justify-content-end"
                                                                    >
                                                                        <div
                                                                            class="flex align-items-center justify-content-center gap-2"
                                                                        >
                                                                            <button
                                                                                *ngIf="
                                                                                    editing
                                                                                "
                                                                                pButton
                                                                                pRipple
                                                                                type="button"
                                                                                pCancelEditableRow
                                                                                icon="pi pi-plus"
                                                                                (click)="
                                                                                    onRowEditCancel(
                                                                                        company,
                                                                                        ri
                                                                                    )
                                                                                "
                                                                                class="p-button-rounded p-button-text p-button-success"
                                                                            ></button>
                                                                        </div>
                                                                        <button
                                                                            pButton
                                                                            pRipple
                                                                            icon="pi pi-trash"
                                                                            class="p-button-rounded p-button-text text-red-700"
                                                                            (click)="
                                                                                deleteProduct(
                                                                                    company
                                                                                )
                                                                            "
                                                                        ></button>
                                                                    </div>
                                                                </th>
                                                            </tr>
                                                        </ng-template>
                                                        <!-- Sub Sub Table Body -->
                                                        <ng-template
                                                            pTemplate="body"
                                                            let-stations
                                                            let-expanded="expanded"
                                                            let-editing="editing"
                                                            let-ri="rowIndex"
                                                        >
                                                            <tr
                                                                [pEditableRow]="
                                                                    stations
                                                                "
                                                            >
                                                                <td
                                                                    style="
                                                                        min-width: 12rem;
                                                                    "
                                                                >
                                                                    <p-cellEditor>
                                                                        <ng-template
                                                                            pTemplate="input"
                                                                        >
                                                                            <input
                                                                                pInputText
                                                                                type="text"
                                                                                [(ngModel)]="
                                                                                    stations.name
                                                                                "
                                                                            />
                                                                        </ng-template>
                                                                        <ng-template
                                                                            pTemplate="output"
                                                                        >
                                                                            {{
                                                                                stations.name
                                                                            }}
                                                                        </ng-template>
                                                                    </p-cellEditor>
                                                                </td>

                                                                <td
                                                                    style="
                                                                        min-width: 12rem;
                                                                    "
                                                                >
                                                                    <p-cellEditor>
                                                                        <ng-template
                                                                            pTemplate="input"
                                                                        >
                                                                            <input
                                                                                pInputText
                                                                                type="text"
                                                                                [(ngModel)]="
                                                                                    stations.busNavigations
                                                                                "
                                                                            />
                                                                        </ng-template>
                                                                        <ng-template
                                                                            pTemplate="output"
                                                                        >
                                                                            {{
                                                                                stations.busNavigations
                                                                            }}
                                                                        </ng-template>
                                                                    </p-cellEditor>
                                                                </td>

                                                                <td>
                                                                    <div
                                                                        class="flex justify-content-end"
                                                                    >
                                                                        <div
                                                                            class="flex align-items-center justify-content-center gap-2"
                                                                        >
                                                                            <button
                                                                                *ngIf="
                                                                                    !editing
                                                                                "
                                                                                pButton
                                                                                pRipple
                                                                                type="button"
                                                                                pInitEditableRow
                                                                                icon="pi pi-pencil"
                                                                                (click)="
                                                                                    onRowEditInit(
                                                                                        company
                                                                                    )
                                                                                "
                                                                                class="p-button-rounded p-button-text"
                                                                            ></button>
                                                                            <button
                                                                                *ngIf="
                                                                                    editing
                                                                                "
                                                                                pButton
                                                                                pRipple
                                                                                type="button"
                                                                                pSaveEditableRow
                                                                                icon="pi pi-check"
                                                                                (click)="
                                                                                    onRowEditSave(
                                                                                        company
                                                                                    )
                                                                                "
                                                                                class="p-button-rounded p-button-text p-button-success mr-2"
                                                                            ></button>
                                                                            <button
                                                                                *ngIf="
                                                                                    editing
                                                                                "
                                                                                pButton
                                                                                pRipple
                                                                                type="button"
                                                                                pCancelEditableRow
                                                                                icon="pi pi-times"
                                                                                (click)="
                                                                                    onRowEditCancel(
                                                                                        company,
                                                                                        ri
                                                                                    )
                                                                                "
                                                                                class="p-button-rounded p-button-text p-button-danger"
                                                                            ></button>
                                                                        </div>
                                                                        <button
                                                                            pButton
                                                                            pRipple
                                                                            icon="pi pi-trash"
                                                                            class="p-button-rounded p-button-text text-red-700"
                                                                            (click)="
                                                                                deleteProduct(
                                                                                    company
                                                                                )
                                                                            "
                                                                        ></button>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </ng-template>
                                                    </p-table>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <!-- Paginations -->
                <ng-template pTemplate="paginatorcenter">
                    <p-button
                        type="button"
                        icon="pi pi-cloud"
                        styleClass="p-button-text"
                    ></p-button>
                </ng-template>
            </p-table>
        </div>

        <!-- Modals -->
        <p-dialog
            [(visible)]="voyageDialog"
            [style]="{ width: '450px' }"
            header="Yeni Sefer Düzenle"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="status">Plaka</label>
                    <p-dropdown
                        [options]="company"
                        [(ngModel)]="voyage.busId"
                        [showClear]="true"
                        optionLabel="plate"
                    ></p-dropdown>
                </div>
                <div class="field">
                    <label for="departureProvince">Kalkış Yeri İl</label>
                    <p-dropdown
                        [options]="locations"
                        [(ngModel)]="voyage.departurePlace"
                        optionLabel="name"
                        placeholder="İstanbul"
                        [showClear]="true"
                        (onChange)="onDepartureProvinceChange()"
                    ></p-dropdown>
                </div>

                <div class="field">
                    <label for="status">Kalkış Tarihi</label>
                    <p-calendar
                        [(ngModel)]="voyage.departureDate"
                        [showTime]="true"
                        [showSeconds]="false"
                    ></p-calendar>
                </div>

                <div
                    *ngFor="let stop of stops; let i = index"
                    class="stop-section my-8"
                >
                    <div class="flex justify-content-between">
                        <h3>{{ i + 1 }}. Durak</h3>
                        <button
                            type="button"
                            pButton
                            pRipple
                            icon="pi pi-times"
                            class="p-button-danger"
                            (click)="removeStop(i)"
                        ></button>
                    </div>
                    <div class="field">
                        <label for="stopProvince"
                            >Kalkış Yeri - {{ i + 1 }}. Durak</label
                        >
                        <p-dropdown
                            [options]="locations"
                            [(ngModel)]="stop.province"
                            optionLabel="name"
                            placeholder="İstanbul"
                            [showClear]="true"
                            (onChange)="onStopProvinceChange(i)"
                        ></p-dropdown>
                    </div>
                    <div class="field">
                        <label for="stopDate"
                            >Varış Tarihi - {{ i + 1 }}. Durak</label
                        >
                        <p-calendar
                            [(ngModel)]="stop.departureDate"
                            [showTime]="true"
                            [showSeconds]="false"
                        ></p-calendar>
                    </div>
                    <div class="field">
                        <label for="stopArrivalDate"
                            >Ayrılış Tarihi - {{ i + 1 }}. Durak</label
                        >
                        <p-calendar
                            [(ngModel)]="stop.arrivalDate"
                            [showTime]="true"
                            [showSeconds]="false"
                        ></p-calendar>
                    </div>
                </div>
                <div class="field">
                    <label for="status">Varış Tarihi</label>
                    <p-calendar
                        [(ngModel)]="voyage.arrivalDate"
                        [showTime]="true"
                        [showSeconds]="false"
                    ></p-calendar>
                </div>
                <div class="field">
                    <label for="arrivalProvince">Son Varış Yeri İl</label>
                    <p-dropdown
                        [options]="locations"
                        [(ngModel)]="voyage.arrivalPlace"
                        optionLabel="name"
                        placeholder="Ankara"
                        [showClear]="true"
                        (onChange)="onArrivalProvinceChange()"
                    ></p-dropdown>
                </div>
                <div class="field">
                    <label for="arrivalDistrict" *ngIf="selectedArrivalProvince"
                        >Varış Yeri İlçe</label
                    >
                    <p-dropdown
                        *ngIf="selectedArrivalProvince"
                        [options]="selectedArrivalProvince.districts"
                        [(ngModel)]="selectedArrivalDistrict"
                        optionLabel="name"
                        placeholder="Select District"
                        [showClear]="true"
                    ></p-dropdown>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="İptal"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Oluştur"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="addVoyage()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Ara Durak Ekle"
                    icon="pi pi-plus"
                    class="p-button-text"
                    (click)="addStop()"
                ></button>
            </ng-template>
        </p-dialog>
        <p-toast></p-toast>
        <p-dialog
            [(visible)]="plateDialog"
            [style]="{ width: '450px' }"
            header="Plaka Ekle"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="plate">Plaka</label>
                    <input [(ngModel)]="plate.plate" type="text" pInputText />
                </div>
                <div class="field">
                    <label for="driverName">Sürücü Adı</label>
                    <input
                        [(ngModel)]="plate.driverName"
                        type="text"
                        pInputText
                    />
                </div>
                <div class="field">
                    <label for="hostName">Hostes Adı</label>
                    <input
                        [(ngModel)]="plate.hostName"
                        type="text"
                        pInputText
                    />
                </div>
                <div class="field">
                    <label for="numberOfSeats">Koltuk Sayısı</label>
                    <input
                        [(ngModel)]="plate.numberOfSeats"
                        type="number"
                        pInputText
                    />
                </div>
                <div class="field">
                    <label for="busDesign">Otobüs Tipi</label>
                    <input
                        [(ngModel)]="plate.busDesign"
                        type="text"
                        pInputText
                    />
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="İptal"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Oluştur"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="addPlate()"
                ></button>
            </ng-template>
        </p-dialog>
        <p-dialog
            [(visible)]="deleteBusDialog"
            header="Sil"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span>Seyahati silmek istediğinize emin misiniz ?</span>
            </div>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    label="İptal"
                    (click)="deleteBusDialog = false"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    label="Evet"
                    (click)="deleteCompany()"
                ></button>
            </ng-template>
        </p-dialog>
        <p-dialog
            [(visible)]="deleteProductsDialog"
            header="Confirm"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    label="No"
                    (click)="deleteProductsDialog = false"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    label="Yes"
                    (click)="confirmDeleteSelected()"
                ></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
