<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            label="Plaka Ekle"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                            (click)="openNewPlate()"
                        ></button>
                        <button
                            pButton
                            pRipple
                            label="Sefer Ekle"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                            (click)="openNewVoyage()"
                        ></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload
                        mode="basic"
                        accept="image/*"
                        [maxFileSize]="1000000"
                        label="Import"
                        chooseLabel="Import"
                        class="mr-2 inline-block"
                    ></p-fileUpload>
                    <button
                        pButton
                        pRipple
                        label="Export"
                        icon="pi pi-upload"
                        class="p-button-help"
                        (click)="dt.exportCSV()"
                    ></button>
                </ng-template>
            </p-toolbar>
            <p-table
                [value]="products"
                dataKey="name"
                [expandedRowKeys]="expandedRows"
                responsiveLayout="scroll"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th pSortableColumn="name">
                            Plaka <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="inventoryStatus">
                            Koltuk Sayısı
                            <p-sortIcon field="inventoryStatus"></p-sortIcon>
                        </th>
                        <th>Sürücü Adı</th>
                        <th pSortableColumn="price">
                            Personel Adı <p-sortIcon field="price"></p-sortIcon>
                        </th>
                        <th pSortableColumn="inventoryStatus">
                            kalkış Tarihi
                            <p-sortIcon field="inventoryStatus"></p-sortIcon>
                        </th>
                        <th pSortableColumn="category">
                            Kalkış Yeri
                            <p-sortIcon field="category"></p-sortIcon>
                        </th>
                        <th pSortableColumn="rating">
                            Varış Yeri <p-sortIcon field="rating"></p-sortIcon>
                        </th>
                        <th pSortableColumn="inventoryStatus">
                            Seyahat Süresi
                            <p-sortIcon field="inventoryStatus"></p-sortIcon>
                        </th>

                        <th></th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-product
                    let-expanded="expanded"
                >
                    <tr>
                        <td>
                            <button
                                type="button"
                                pButton
                                pRipple
                                [pRowToggler]="product"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="
                                    expanded
                                        ? 'pi pi-chevron-down'
                                        : 'pi pi-chevron-right'
                                "
                            ></button>
                        </td>
                        <td style="min-width: 12rem">{{ product.name }}</td>
                        <td>
                            <img
                                [src]="
                                    'assets/demo/images/product/' +
                                    product.image
                                "
                                [alt]="product.name"
                                width="100"
                                class="shadow-4"
                            />
                        </td>
                        <td style="min-width: 8rem">
                            {{ product.price | currency : "USD" }}
                        </td>
                        <td style="min-width: 10rem">{{ product.category }}</td>
                        <td style="min-width: 10rem">
                            <p-rating
                                [ngModel]="product.rating"
                                [readonly]="true"
                                [cancel]="false"
                            ></p-rating>
                        </td>
                        <td>
                            <span
                                [class]="
                                    'product-badge status-' +
                                    product.inventoryStatus.toLowerCase()
                                "
                                >{{ product.inventoryStatus }}</span
                            >
                        </td>
                        <td style="min-width: 12rem">{{ product.name }}</td>

                        <td style="min-width: 12rem">{{ product.name }}</td>

                        <td>
                            <div class="flex justify-content-end">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editProduct(product)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-warning"
                                    (click)="deleteProduct(product)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-product>
                    <tr>
                        <td colspan="7">
                            <div class="p-3">
                                <p-table
                                    [value]="product.orders"
                                    dataKey="id"
                                    responsiveLayout="scroll"
                                >
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th pSortableColumn="amount">
                                                Şehir İsmi
                                                <p-sortIcon
                                                    field="amount"
                                                ></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="stats">
                                                Bus Navigations
                                                <p-sortIcon
                                                    field="status"
                                                ></p-sortIcon>
                                            </th>
                                            <th style="width: 4rem"></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-order>
                                        <tr>
                                            <td>{{ order.id }}</td>
                                            <td>{{ order.customer }}</td>
                                            <td>{{ order.date }}</td>
                                            <td>
                                                {{
                                                    order.amount
                                                        | currency : "USD"
                                                }}
                                            </td>
                                            <td>
                                                <span
                                                    [class]="
                                                        'order-badge order-' +
                                                        order.status.toLowerCase()
                                                    "
                                                    >{{ order.status }}</span
                                                >
                                            </td>
                                            <td>
                                                <p-button
                                                    type="button"
                                                    icon="pi pi-search"
                                                ></p-button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="6">
                                                There are no order for this
                                                product yet.
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-dialog
            [(visible)]="voyageDialog"
            [style]="{ width: '450px' }"
            header="Yeni Sefer Düzenle"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <img
                    [src]="'assets/demo/images/product/' + product.image"
                    [alt]="product.image"
                    width="150"
                    class="mt-0 mx-auto mb-5 block shadow-2"
                    *ngIf="product.image"
                />
                <div class="field">
                    <label for="status">Plaka</label>

                    <p-dropdown
                        [options]="cities"
                        [(ngModel)]="selectedDrop"
                        [showClear]="true"
                    ></p-dropdown>
                </div>
                <div class="field">
                    <label for="departureProvince">Kalkış Yeri İl</label>
                    <p-dropdown
                        [options]="locations"
                        [(ngModel)]="selectedDepartureProvince"
                        optionLabel="name"
                        placeholder="İstanbul"
                        [showClear]="true"
                        (onChange)="onDepartureProvinceChange()"
                    ></p-dropdown>
                </div>
                <div class="field">
                    <label
                        for="departureDistrict"
                        *ngIf="selectedDepartureProvince"
                        >Kalkış Yeri İlçe</label
                    >
                    <p-dropdown
                        *ngIf="selectedDepartureProvince"
                        [options]="selectedDepartureProvince.districts"
                        [(ngModel)]="selectedDepartureDistrict"
                        optionLabel="name"
                        placeholder="Select District"
                        [showClear]="true"
                    ></p-dropdown>
                </div>
                <div class="field">
                    <label for="arrivalProvince">Varış Yeri İl</label>
                    <p-dropdown
                        [options]="locations"
                        [(ngModel)]="selectedArrivalProvince"
                        optionLabel="name"
                        placeholder="Ankara"
                        [showClear]="true"
                        (onChange)="onArrivalProvinceChange()"
                    ></p-dropdown>
                </div>
                <div class="field">
                    <label for="arrivalDistrict" *ngIf="selectedArrivalProvince"
                        >Varış Yeri İlçe</label
                    >
                    <p-dropdown
                        *ngIf="selectedArrivalProvince"
                        [options]="selectedArrivalProvince.districts"
                        [(ngModel)]="selectedArrivalDistrict"
                        optionLabel="name"
                        placeholder="Select District"
                        [showClear]="true"
                    ></p-dropdown>
                </div>

                <div class="field">
                    <label for="status">Kalkış Tarihi</label>
                    <p-calendar
                        [(ngModel)]="date"
                        [showTime]="true"
                        [showSeconds]="false"
                    ></p-calendar>
                </div>
                <div class="field">
                    <label for="status">Seyahat Süresi (saat)</label>
                    <p-inputNumber
                        mode="decimal"
                        [showButtons]="true"
                        [min]="0"
                        [max]="100"
                    >
                    </p-inputNumber>
                </div>
                <div class="field">
                    <label for="status">İstasyonlar</label>
                    <p-inputNumber
                        mode="decimal"
                        [showButtons]="true"
                        [min]="0"
                        [max]="100"
                    >
                    </p-inputNumber>
                </div>
                <div class="field">
                    <label for="status">Koltuk Sayısı</label>
                    <p-inputNumber
                        mode="decimal"
                        [showButtons]="true"
                        [min]="0"
                        [max]="100"
                    >
                    </p-inputNumber>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="İptal"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Oluştur"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="saveProduct()"
                ></button>
            </ng-template>
        </p-dialog>
        <p-dialog
            [(visible)]="plateDialog"
            [style]="{ width: '450px' }"
            header="Plaka Ekle"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <img
                    [src]="'assets/demo/images/product/' + product.image"
                    [alt]="product.image"
                    width="150"
                    class="mt-0 mx-auto mb-5 block shadow-2"
                    *ngIf="product.image"
                />
                <div class="field">
                    <label for="status">Plaka</label>
                    <input mode="decimal" type="text" pInputText />
                </div>
                <div class="field">
                    <label for="status">Sürücü Adı</label>
                    <input mode="decimal" type="text" pInputText />
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="İptal"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Oluştur"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="saveProduct()"
                ></button>
            </ng-template>
        </p-dialog>
        <p-dialog
            [(visible)]="deleteProductDialog"
            header="Sil"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span *ngIf="product"
                    >Seyahati silmek istediğinize emin misiniz?
                    <b>{{ product.name }}</b
                    >?</span
                >
            </div>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    label="İptal"
                    (click)="deleteProductDialog = false"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    label="Evet"
                    (click)="confirmDelete()"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="deleteProductsDialog"
            header="Confirm"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    label="No"
                    (click)="deleteProductsDialog = false"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    label="Yes"
                    (click)="confirmDeleteSelected()"
                ></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
